<div *ngIf="currentTabIndex === myTabIndex" class="row">
    <div class="col-4">
        <div class="form-group">
          <label class="col col-form-label">User ID<span class="text-danger">*</span></label>
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="current.userId" />
          </div>
        </div>
        <div class="form-group">
          <label class="col col-form-label">Grid Instance ID<span class="text-danger">*</span></label>
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="current.instanceId" />
          </div>
        </div>
        <div class="form-group">
          <label class="col col-form-label">Grid Instance Name<span class="text-danger">*</span> </label>
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="current.name" />
          </div>
        </div>
        <div  *ngIf="current.role === 'ADMIN'" class="form-group">
          <label class="col col-form-label">Ofbiz Find List</label>
          <div class="col">
            <p-checkbox [(ngModel)]="changeFindList" (ngModelChange)="onChangeFindList($event)" binary="true"></p-checkbox>
          </div>
        </div>
        <div *ngIf="current.role === 'ADMIN'" class="form-group">
          <label class="col col-form-label">Request URL </label>
          <div class="col">
            <input type="url" class="form-control" [(ngModel)]="current.appliedRequestUrl" />
          </div>
        </div>
        <div *ngIf="current.role === 'ADMIN'" class="form-group">
          <label class="col col-form-label">Request Verb</label>
          <div class="col">
            <p-dropdown [options]="verbs" [(ngModel)]="current.appliedRequestVerb"></p-dropdown>
          </div>
        </div>
        <div *ngIf="current.role === 'ADMIN'" class="form-group">
          <label class="col col-form-label">Request Body<span class="text-danger">*</span> </label>
          <div class="col">
            <textarea class="form-control" [(ngModel)]="current.appliedRequestBodyJSON" rows="4"></textarea>
          </div>
        </div>
        <div *ngIf="current.role === 'ADMIN'" class="form-group">
          <label class="col col-form-label">Exclude Fields Containing (Auto Generate columnDefs)</label>
          <div class="col">
            <input class="form-control" placeholder="eg: stamp,tx" [(ngModel)]="genExcludeContainsStr"/>
          </div>
        </div>
        <div *ngIf="current.role === 'ADMIN'" class="form-group">
          <button class="btn btn-sm btn-secondary mt-2" (click)="autoGenerateColumnDef()">Auto Generate columnDefs</button>
        </div>
        <div class="form-group">
          <label class="col col-form-label">Grid Instance Description <span class="text-danger">*</span> </label>
          <div class="col">
            <textarea class="form-control" [(ngModel)]="current.description" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-secondary mt-2 fa fa-save" (click)="save.emit()"><span style="padding: 5px">Save</span></button>
        </div>
      </div>
    <div class="col-8">
      <codemirror-wrapper [showEditor]="showEditor" (codeChanged)="codeChanged($event)" [gridOptions]="current.gridOptions"></codemirror-wrapper>
    </div>
  </div>
