<div *ngIf="currentTabIndex === myTabIndex">
  <p-panel header="Add/Edit Header">
    <div class="form-group row">
      <label class="col col-form-label">Header Name <span class="text-danger">*</span></label>
      <div class="col">
        <input type="text" class="form-control" (ngModelChange)="onChange($event)" [(ngModel)]="newHeader.headerName" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label">Field <span class="text-danger">*</span> </label>
      <div class="col">
        <input type="text" class="form-control" (ngModelChange)="onChange($event)" [(ngModel)]="newHeader.field" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label">Editable <span class="text-danger">*</span> </label>
      <div class="col">
        <p-checkbox [(ngModel)]="newHeader.editable" (ngModelChange)="onEditableChange($event)" binary="true"></p-checkbox>
      </div>
    </div>
    <div *ngIf="showCellEditor" class="form-group row">
      <label class="col col-form-label">Cell Editors <span class="text-danger">*</span></label>
      <div class="col">
        <p-dropdown [options]="cellEditors" (ngModelChange)="onCellEditorChange($event)" [(ngModel)]="newHeader.cellEditor"></p-dropdown>
      </div>
    </div>
    <div *ngIf="showCellEditor" class="form-group row">
      <label class="col col-form-label">Selection Options (For Selection Editors Only)</label>
      <div class="col">
        <input type="text" placeholder="comma separated list of selection options" class="form-control" (ngModelChange)="onCellEditorParamsValuesStr($event)" [(ngModel)]="newHeader._cellEditorParamsValuesStr" />
      </div>
    </div>
    <div class="form-group row">
      <div style="text-align:left;">
        <button
          type="button"
          [disabled]="fieldExists(newHeader.field) || newHeader.field === ''"
          pButton
          icon="fa fa-plus"
          (click)="add(newHeader)"
        ></button>
        <button
          type="button"
          pButton
          icon="fa fa-eraser"
          (click)="clear()"
        ></button>
      </div>
    </div>
  </p-panel>
  <p-panel header="Headers">
    <p-table
      [columns]="cols"
      selectionMode="single"
      [value]="columnDefs"
      [paginator]="true"
      [rows]="15"
      [autoLayout]="true"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect()"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <div style="text-align:left;display:block;">
              <button type="button" pButton icon="fa fa-minus" (click)="remove(rowData)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData> </ng-template>
    </p-table>
  </p-panel>
</div>
