<div *ngIf="currentTabIndex === myTabIndex" class="row">
  <p-panel header="CRUD Endpoints">
    <div class="col-12">
      <div class="form-group row">
        <label class="col col-form-label">Data Create Endpoint </label>
        <div class="col">
          <input type="url" class="form-control" [(ngModel)]="current.datacreate" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label">Data Update Endpoint </label>
        <div class="col">
          <input type="url" class="form-control" [(ngModel)]="current.dataupdate" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label">Data Remove Endpoint </label>
        <div class="col">
          <input type="url" class="form-control" [(ngModel)]="current.dataremove" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label">Data Unique Id Field (Used by Update/Delete) </label>
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="current.gridOptions.custom.dataUniqueIdField" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col col-form-label">Grid Row Selection Mode (Used by Create/Delete)</label>
        <div class="col">
          <p-dropdown [options]="rowSelectionOptions" [(ngModel)]="current.gridOptions.custom.rowSelection"></p-dropdown>
        </div>
      </div>
    </div>
  </p-panel>
</div>
