<div *ngIf="currentTabIndex === myTabIndex">
  <p-panel header="Entity">
    <div class="form-group row">
      <label class="col col-form-label">Entity Name<span class="text-danger">*</span></label>
      <div class="col">
        <input type="text" class="form-control" (ngModelChange)="onEntityNameChange($event)" [(ngModel)]="entityName" />
      </div>
    </div>
  </p-panel>
  <p-panel header="Add/Edit Condition">
    <div class="form-group row">
      <label class="col col-form-label">Field Name<span class="text-danger">*</span></label>
      <div class="col">
        <input type="text" class="form-control" (ngModelChange)="onEditChange()"  [(ngModel)]="newCondition.fieldName" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label">Operation</label>
      <div class="col">
        <p-dropdown [options]="ops" (ngModelChange)="onEditChange()" [(ngModel)]="newCondition.operation"></p-dropdown>
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label">Value<span class="text-danger">*</span> </label>
      <div class="col">
        <input type="text" class="form-control" (ngModelChange)="onEditChange()"  [(ngModel)]="newCondition.value" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col col-form-label">Ignore Case<span class="text-danger">*</span> </label>
      <div class="col">
        <p-checkbox [(ngModel)]="newCondition.ignoreCase" (ngModelChange)="onEditChange()" binary="true"></p-checkbox>
      </div>
    </div>
    <div class="form-group row">
      <div style="text-align:left;">
        <button type="button" pButton icon="fa fa-plus" (click)="add(newCondition)"></button>
      </div>
    </div>
  </p-panel>
  <p-panel header="Headers">
    <p-table
      [columns]="cols"
      selectionMode="single"
      [value]="lookupConditions"
      [paginator]="true"
      [rows]="15"
      [autoLayout]="true"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect()"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <div style="text-align:left;display:block;">
              <button type="button" pButton icon="fa fa-minus" (click)="remove(rowData)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData> </ng-template>
    </p-table>
  </p-panel>
</div>
