<p-tabView (onChange)="handleTabChanged($event)">
  <p-tabPanel header="Grid Settings">
    <grid-settings [style.display]="tabIndex === 0? 'block':'none'" (save)="saveCurrent()"></grid-settings>
  </p-tabPanel>
  <p-tabPanel [disabled]="userRoleDisable" header="Editable Grid Settings">
      <editable-grid-settings-form [style.display]="tabIndex === 1? 'block':'none'"></editable-grid-settings-form>
    </p-tabPanel>
  <p-tabPanel header="ColumnDefs Quick Settings">
    <aggrid-header-form [style.display]="tabIndex === 2? 'block':'none'"></aggrid-header-form>
  </p-tabPanel>
  <p-tabPanel [disabled]="userRoleDisable" header="Ofbiz Entity Query Builder">
    <ofbiz-entity-lookup [style.display]="tabIndex === 3? 'block':'none'"></ofbiz-entity-lookup>
  </p-tabPanel>
</p-tabView>
